@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 10;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Arial', sans-serif;
  color: white;
}

.timeline-container {
  width: 100%;
  overflow-x: auto;
  padding: 10px 0;
}

.timeline {
  display: flex;
  align-items: center;
}

.movie-node {
  position: relative;
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.movie-node:hover .movie-poster {
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.8); /* Glowing effect */
}

.movie-title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
}

.movie-poster {
  transition: box-shadow 0.3s ease;
}
